*{
    font-family: 'DM Sans', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 42px;
}

main{
    margin: 17px 100px;
}

header #name-site{
    font-size: 36px;
    color: #D04F4F;
}

/*Champs de recherche principal*/
#search-field{
    background-color: #E7E7E7;
    display: flex;
    border-radius: 5px;
    margin-bottom: 25px;
}

#search-field input{
    outline: none;
    border: none;
    width: 100%;
    background-color: #E7E7E7;
    padding: 20px;
    border-radius: 5px 0px 0px 5px;
}

#search-field button{
    outline: none;
    border: none;
    margin-right: 18px;
    background-color: #E7E7E7;
    border-radius: 0px 5px 5px 0px;
}
#search-icon{
   width: 60px;
   padding: 20px;
}

/*Champs de recherche secondaire*/
.section-search nav{
    display: flex;
    flex-direction: row;
    position: absolute;
}

.sort-menus ul{
    margin-bottom: 0;
    border-radius: 0px 0px 5px 5px;
}

.sort-menus ul li a{
    text-decoration: none;
    color: white;
}

.sort-menus--input-icon{
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    align-items: center;
}

.sort-menus input{
    border: none;
    outline: none;
    color: white;
}

.sort-menus input::placeholder{
    font-size: 18px;
    color: white;
}

#input-ingredients--display::placeholder, #input-machines--display::placeholder, #input-utensils--display::placeholder{
    opacity: 0.5;
}

#input-icon-ingredients--hide, #input-icon-ingredients--display, #input-ingredients--hide, #input-ingredients--display{
    background-color: #3282F7;
}

#input-icon-machines--hide, #input-icon-machines--display, #input-machines--hide, #input-machines--display{
    background-color: #68D9A4;
}

#input-icon-utensils--hide, #input-icon-utensils--display, #input-utensils--hide, #input-utensils--display{
    background-color: #ED6454;
}

.sort-menu--link, .sort-menu--link{
    color: white;
    font-size: 18px;
    margin-right: 16px;
}

.fa-chevron-down, .fa-chevron-up{
    color: white;
}

.sort-menu--menu{
    z-index: 1;
    position: relative;
    list-style: none;
    padding: 0px;
}

.sort-menu--menu li{
    color: white;
    font-size: 18px;
    padding: 10px;
    padding-right: 28.5px;
}

#ingredients-menu-items li{
    background-color: #3282F7;
}

#machines-menu-items li{
    background-color: #68D9A4;
}

#utensils-menu-items li{
    background-color: #ED6454;
}

/*Tags recherche recondaire*/
.tags-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.tags-container .tag{
    /*display: flex;*/
    
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ingredient-tag, .ingredient-tag button{
    background-color: #3282F7;
}

.machine-tag, .machine-tag button{
    background-color: #68D9A4;
}

.utensil-tag, .utensil-tag button{
    background-color: #ED6454;
}

.tag span{
    margin-right: 10px;
    color: white;
}

.tag button{
    border: none;
    outline: none;
}

.tag button i{
    color: white;
}

/*Recettes*/
.container{
    max-width: none;
}

.recipe-card{
    margin-right: -175px;
    margin-left:  -175px;
    margin-top: 100px;
}

article{
    border-radius: 0px 0px 5px 5px;
    background-color: #E7E7E7;
    /*margin: 15px;*/
}

.col-lg-4{
    padding: 0;
}

.place-image-recipe{
    height: 178px;
    background-color: #C7BEBE;
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 5px 5px 0px 0px;
}

.title-time-recipe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title-time-recipe i{
    margin-left: auto;
    border-radius: 5px 5px 0px 0px;
}

.title-time-recipe .time{
    margin-left: 7px;
    font-size: 18px;
}

.title-time-recipe .title-recipe{
    margin-bottom: 0;
    font-size: 18px;
}

.ingredients-description-recipe{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
}

.ingredients-description-recipe .list-ingredients, .description-recipe{
 font-size: 12px;
 padding: 0;
}

.ingredients-description-recipe .list-ingredients{
    list-style: none;
}

.ingredients-description-recipe .description-recipe{
    width: 50%;
    max-height: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

/*Classes display*/
.display-flex{
    display: flex;
}

.display-block{
    display: block;
}

.display-none{
    display: none;
}

@media (max-width: 575px){
    .recipe-card{
        margin-right: -105px;
        margin-left:  -105px;
    }

    #search-field{
        margin-left: -73px;
        margin-right: -73px;
    }
}